@model LoseSumWeight.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <h4>Products</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ImagePath" alt="@Model.Name" style="max-width: 100px; max-height: 100px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeftInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftInStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@if (!Model.IsFavorite)
{
    <a asp-controller="Products" asp-action="ToggleFavorite" asp-route-id="@Model.Id">Save to cart</a>
}
else
{
    <a asp-controller="Products" asp-action="ToggleFavorite" asp-route-id="@Model.Id" >Remove from cart</a>
}
